html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #4c4c4c;
    color: white;
}

/* Set the width of divs to include border and margin */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reset next column */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Make all column classes has these attributes */
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Responsive column width 
    a responsive page will have 12 columns
    100% / 12 will get the results as below
*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    background-color: #3B3B3B;
    padding: 2em 15em 1em 15em;
    height: auto;
    display: flex
}

.footer {
    background-color: #383838;
    font-size: 0.715em;
    padding: 1em 20em;
}

#follow-us {
    background-color: #383838;
    font-size: 1em;
    padding: 1em 15em;
}

#follow-us i {
    margin: 0 0.15em;
}

/* Banner */
.banner {
    background: repeating-linear-gradient(
        135deg,
        #009daec2,
        #009DAE 2px,
        #009daec2 5px,
        #009DAE 2px  );
    height: 25em;
    display: flex;
    padding: 1em 10em;
}

.banner div {
    height: auto;
    width: 100%;
}

.banner div#slider-content {
    width: 600%;
}

.banner #left, #right {
    padding: 10em 0;
    text-align: center;
}

.banner #left > i, #right > i {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1em;
}

.banner #slider-content {
    text-align: center;
}

.banner #slider-content .title {
    font-size: 3em;
    padding: 1em;
}

.banner #slider-content .button-holder {
    padding: 1em;
}

.banner #slider-content button {
    border: none;
    background: #F5BD38;
    padding: 1em;
    border-radius: 3px;
    cursor: pointer;
}

/* Footer Info additional info */
#footer-info {
    display: flex;
    padding: 2.15em 15em;
}
#footer-info .left {
    display: flex;
}
#footer-info .left > div {
    margin-right: 4em;
}
#footer-info > div .title {
    margin-bottom: 2em;
}
#footer-info div ul > li {
    font-size: 80%;
    list-style-type: none;
    line-height: 2em;
}
#footer-info .right {
    margin-left: auto;
    order: 2;
}

#footer-info .right ul > li{
    margin-bottom: 1em;
}

#footer-info .right ul > li > i {
    margin-right: 1em;
    font-size: 1.15em;
}

/* Menu */
#menu-holder {
    margin-left: auto;
    order: 2;
}

.show-menu {
    text-decoration: none;
    color: black;
    background: #E4E4E4;
    text-align: center;
    padding: 10px 0;
    display: none;
}
input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu-holder{
    display: block;
}

.header ul {
    list-style-type: none;
}
.header ul li {
    display: inline-block;
}
.header li a {
    display: block;
    min-width: 4em;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
}
.header li:hover a {
    color: #029DB0
}
.header li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
.header li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
.header .menu-holder {
    margin-left: auto;
    order:2;
}

/* Pricing box styles */
.box-price-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 15em 1em 15em;
    position: relative;
    top: -6em;
}
.box-price-holder ul {
    padding: 1em 0 1em 1em;
    list-style: none;
    line-height: 2em;
}

.box-price {
    /* border: 0.2px dotted red; */
    background-clip: content-box;
}

.box-price > .title {
    padding: 1em 0 1em 1em;
    /* border: 0.2px dotted red; */
}

.box-price > .price {
    display: flex;
    padding: 1em 0 1em 1em;
    background-color: #383739;
    /* border: 0.2px dotted red; */
}

.box-price > .price > .dollar {
    font-size: 3em;
    vertical-align: top;
    line-height: 1em;
}

.bronze {
    background-color: #2C83ED;
}

.silver {
    background-color: #D14722;
}

.gold {
    background-color: #A300A9;
}

.platinum {
    background-color: #7D4DE1;
}

@media only screen and (max-width: 400px) {
    [class*="col-"] {
        width: 100%;
    }

    .header {
        display: block;
        padding: 1em;
    }

    /* Menu */
    .show-menu {
        display:block;
    }

    .header #menu-holder {
        position: static;
        display: none;
    }

    .header ul li {
        margin-bottom: 1em;
    }

    .header ul li, li a {
        width: 100%;
    }

    /* Pricing box */
    .box-price-holder {
        display: block;
        padding: 1em;
        top: 0;
    }

    /* banner */
    .banner {
        display: none;
    }

    /* footer */
    .footer {
        text-align: center;
        padding: 1em;
    }
    #follow-us, #footer-info > .left{
        display: none;
    }
    #footer-info {
        padding: 1em;
        background-color: #464646;
    }
}